/* global */
* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-sizing: border-box;
  color: #fff;
}
body {
  /* background-color: rgb(60, 60, 143); */
  background-color: black;
  background-image: url(../img/pickachu-background.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  color: white;
}
p {
  font-size: 18px;
}

/* index.html stylings */

/* header styling */
.pokeList__header_containter {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
}
.pokeList__header_containter img {
  padding-left: 8px;
}

/* pokemon list styling */
.pokemon__list__container {
  display: grid;
  grid-template-columns: auto 300px auto;
  list-style: none;
  width: 100%;
  margin: 0, auto;
}
.pokemon__list__container li {
  grid-column-start: 2;
  padding: 5px 0;
}
.pokemon__list__container li button {
  width: 300px;
  font-size: 50px;
  background-color: rgba(0, 2, 2, 0.349);
  border: 5px solid #d68310;
}
/* email/password form styling */
.input__wrapper,
.submit__wrapper {
  display: none; /* toggled off while figuring out page layout */
  /* display: grid; */
  grid-template-columns: 17% 45% auto;
}
.submit__wrapper button {
  grid-column-start: 2;
}
.error__message {
  grid-column-start: 3;
}
