/* global */
* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
  /* background-color: rgb(60, 60, 143); */
  background-color: black;
  background-image: url(../img/pickachu-background.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  color: white;
}
p {
  font-size: 18px;
}

/* index.html stylings */

/* header styling */
.pokeList__header_containter {
  display: grid;
  grid-template-columns: auto auto;
}
.pokeList__header_containter img {
  padding-left: 8px;
}

/* pokemon list styling */
.pokemon__list__container {
  list-style: none;
}
.pokemon__list__container li button {
  width: 80px;
  background-color: rgba(176, 240, 240, 0.74);
  border-radius: 5px;
  border-color: red;
}
/* email/password form styling */
.input__wrapper,
.submit__wrapper {
  display: none; /* toggled off while figuring out page layout */
  /* display: grid; */
  grid-template-columns: 17% 45% auto;
}
.submit__wrapper button {
  grid-column-start: 2;
}
.error__message {
  grid-column-start: 3;
}
