/* variables */
* {
  --orange: #d68310;
  --shadowOrange: #d68310ad;
  --black: #000;
  --transBlack: rgba(0, 0, 0, 0.6);
  --modalBackground: rgb(28, 24, 13);
  --white: #fff;
  --textShadow: 3px 3px var(--shadowOrange);
  --orangeBorder: 5px solid var(--orange);
  --shadowOrangeBorder: 5px solid var(--shadowOrange);
  --primaryFont: 'Orelega One', cursive;
  --secondaryFont: 'Oswald', sans-serif;
}

/* global */
* {
  font-family: var(--secondaryFont);
  box-sizing: border-box;
  color: var(--white);
  margin: 0;
  padding: 0;
}
h1 {
  font-family: var(--primaryFont);
  font-size: 75px;
  font-weight: 300;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 20px;
}
body {
  background-color: var(--black);
  background-image: url(../img/pickachu-background.jpg);
  background-size: 300%;
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: fixed;
  color: var(--white);
}
p {
  font-size: 18px;
}

/* index.html stylings */

/* header styling */
.pokemon__header__containter {
  background-color: var(--black);
  display: flex;
  justify-content: center;
  /* width: 100%;
  height: 160px;
  display: grid;
  margin-bottom: 20px;
  padding-bottom: 20px;
  grid-template-rows: 100px 30px; */
}

/* search bar styling */
#search__bar {
  display: grid;
  grid-template-columns: auto 90px 175px auto;
}
.search__label__container {
  grid-column-start: 2;
  height: 40px;
  width: 90px;
  padding: 0 13px;
  background-color: var(--white);
}
#search__label {
  font-size: 25px;
  color: var(--black);
}
#search__input {
  grid-column-start: 3;
  background-color: var(--black);
  width: 175px;
  align-self: center;
  height: 40px;
  border: 3px solid var(--white);
}

/* modal styling */
.white__text {
  color: var(--white);
}
.xOutButton {
  font-size: 1.5rem;
}
.modal-content {
  border: var(--orangeBorder);
  background-color: var(--modalBackground);
}
.modal__header__border {
  border-bottom: 1px solid var(--orange);
}
/*
#modal__container {
  display: none;
}
#modal__container.is__visible {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--transBlack);
  z-index: 998;
  overflow: auto;
}
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background: var(--modalBackground);
  min-width: 350px;
  max-width: 700px;
  border: var(--shadowOrangeBorder);
}
.pokemon__info__container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.pokemon__name {
  text-shadow: var(--textShadow);
}
.pokemon__types {
  font-family: var(--secondaryFont);
}
.pokemon__header_containter {
  display: flex;
  justify-content: center;
}
.pokemon__height {
  font-family: var(--secondaryFont);
}
.pokemon__sprite__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
}
.pokemon__sprite {
  object-fit: contain;
}
.modal__close {
  align-self: end;
  -webkit-appearance: none;
  border: 0;
  background: none;
  text-decoration: underline;
}
*/
/* pokemon list styling */
.pokemon__list__container {
  display: grid;
  grid-template-columns: auto 300px auto;
  list-style: none;
  width: 100%;
  margin: 0, auto;
}
.pokemon__list__container li {
  grid-column-start: 2;
  padding: 5px 0;
}
.pokemon__list__container li button {
  width: 300px;
  padding-bottom: 4px;
  font-size: 35px;
  background-color: var(--transBlack);
  border: var(--orangeBorder);
  text-shadow: var(--textShadow);
}

/* email/password form styling */
.input__wrapper,
.submit__wrapper {
  display: none; /* toggled off while figuring out page layout */
  /* display: grid; */
  grid-template-columns: 17% 45% auto;
}
.submit__wrapper button {
  grid-column-start: 2;
}
.error__message {
  grid-column-start: 3;
}

@media screen and (max-width: 375px) {
  .modal {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    /* width: 100%; */
    min-width: 270px;
    height: 230px;
  }
  .pokemon__name {
    font-size: 30px;
  }
  .pokemon__height,
  .pokemon__types {
    font-size: 15px;
  }
  .modal__close {
    /* padding-bottom: 15px; */
    padding-left: 7px;
  }
}

/* Header styling for larger screens */
